/*
 * TestAPI06May.Standard
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using TestAPI06May.Standard;
using TestAPI06May.Standard.Utilities;
using TestAPI06May.Standard.Http.Request;
using TestAPI06May.Standard.Http.Response;
using TestAPI06May.Standard.Http.Client;
using TestAPI06May.Standard.Exceptions;

namespace TestAPI06May.Standard.Controllers
{
    public partial class StoreController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static StoreController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static StoreController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new StoreController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Place and order for an Item
        /// </summary>
        /// <param name="body">Required parameter: order placed for posting the item</param>
        /// <return>Returns the Models.Item response from the API call</return>
        public Models.Item PostItem(object body)
        {
            Task<Models.Item> t = PostItemAsync(body);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Place and order for an Item
        /// </summary>
        /// <param name="body">Required parameter: order placed for posting the item</param>
        /// <return>Returns the Models.Item response from the API call</return>
        public async Task<Models.Item> PostItemAsync(object body)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/store/orderItem");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" }
            };

            //append body params
            var _body = APIHelper.JsonSerialize(body);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new APIException(@"Invalid item for order", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.Item>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 